$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

h1, .title {
    font-family: 'Shrikhand', 'sans-serif';
}

.card-img {
    width: 100%;
    overflow: hidden;
}

img {
    width: 50%;
}