$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background: #F6F6F6;

$btn-gradient: linear-gradient($color-secondary, $color-primary);
$btn-gradient-light: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));

$heart-gradient: radial-gradient($color-secondary, $color-primary);


$padding-side: 0 20px;
$padding-side-tablet: 0 4%;
$padding-side-desktop: 0 15%;

$shadow: 0 6px 12px darken($background, 10%);
$shadow-hover: 6px 6px 12px darken($background, 15%);

$transition-300ms: all 300ms ease-in-out;