.header__shadow {
    box-shadow: $shadow-header;
}

.loc {
    align-items: center;
    background: darken($background, 5%);
    display: flex;
    height: 52px;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
    z-index: -1;

    p {
        font-weight: 500;
    }
}

.fa-map-marker-alt {
    margin-right: 16px;
}

#section1 {
    background-color: $background;
    height: 285px;
    text-align: center;
    width: 100%;

    h2 {
        font-size: 24px;
        font-weight: 900;
        margin-top: 35px;
        padding: 5px;
        width: 80%;
    }

    p {
        font-size: 17px;
        margin-bottom: 20px;
        padding: 12px;
    }
}

.function {
    margin: 52px 0;
    padding: $padding-side;
    counter-reset: number;
    width: 100%;

    @media screen and (min-width: 768px) {
        padding: $padding-side-tablet;
    }

    @media screen and (min-width: 992px) {
        padding: $padding-side-desktop;
    }

    .section {
        max-width: 1000px;
    }

    &__heading {
        align-self: flex-start;
        font-weight: 700;
    }

    &__box {
        display: flex;
        flex-direction: column;
        height: 272px;
        justify-content: space-between;
        margin-top: 24px;
        max-width: 1000px;
        width: 100%;
    
        @media screen and (min-width: 768px) {
            flex-direction: row;
            height: auto;
        }
    }

    &__card {
        align-items: center;
        background-color: $background;
        border-radius: 20px;
        box-shadow: $shadow;
        display: flex;
        height: 76px;
        padding-right: 8px;
        position: relative;
        transition: $transition-300ms;
        width: 100%;
    
        @media screen and (min-width: 768px) {
            width: 30%;
        }
    
        @media screen and (min-width: 992px) {
            width: 30%;
        }
    
        &:hover { /* bigger shadow + change background and icon color */
            background-color: lighten($color-primary, 35%);
            box-shadow: $shadow-hover;
    
            .function__card__icon {
                color: $color-primary;
            }
        }
    
        &::before { /* display auto incremented numbers in front of each function__card */
            counter-increment: number;
            content: counter(number);
            position: absolute;
            background-color: $color-primary;
            border-radius: 50%;
            color: #fff;
            font-size: 15px;
            left: -12px;
            padding: 5px 8px 3px;
            position: absolute;
        }
    
        &__icon {
            color: darken($background, 45%);
            font-size: 20px;
            margin-left: 24px;
            transition: $transition-300ms;
            width: 40px;
        }
    
        &__text {
            font-size: 17px;
            font-weight: 700;
        }
    }
}



section.rest {
    background-color: $background;
    height: 1196px;
    width: 100%;
    padding: $padding-side;

    > h2 {
        align-self: flex-start;
        margin-top: 52px;
    }

    @media screen and (min-width: 768px) {
        height: 700px;
        padding: $padding-side-tablet;
    }

    @media screen and (min-width: 992px) {
        padding: $padding-side-desktop;
    }

    .section {
        max-width: 1000px;
    }
}

.rest__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 64px;
    width: 100%;
    max-width: 1000px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.section.index {
    max-width: 1000px;
}