.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 64px auto 0 auto;
    max-height: 400px;
    max-width: 1440px;
}

.menu {
    display: flex;
    background-color: $background;
    margin: -36px auto 0 auto;
    padding-bottom: 60px;
    max-width: 1440px;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 40px 40px 0 0;
        background-color: $background;
        padding: 36px 20px 0;
        width: 100%;
        font-size: 14px;
        top: 300px;

        i {
            font-size: 24px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding: $padding-side;
        width: 100%;
        margin-bottom: 32px;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__section {
        padding-top: 20px;
        flex-grow: 1;

        &__title {
            position: relative;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 24px;

            &::after {
                position: absolute;
                content: "";
                display: block;
                height: 3px;
                bottom: -8px;
                width: 2.5em;
                background-color: $color-tertiary;

            }
        }
    }
}