footer {
    background-color: #333;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: $padding-side;
    padding-top: 28px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        padding: $padding-side-tablet;
        padding-top: 28px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 992px) {
        padding: $padding-side-desktop;
        padding-top: 28px;
        padding-bottom: 16px;
    }

    .shrikhand {
        font-size: 18px;
        font-weight: lighter;
    }

    .fas {
        font-size: 13px;
        width: 24px;
    }

    li {
        font-weight: lighter;
        padding: 4px;
        width: fit-content;

        &:hover {
            color: $color-secondary;
            text-decoration: underline;
        }
    }
}