.fa-heart {
    background-size: auto 200%;
    -webkit-background-clip: text; // -webkit- included for easier testing, remove before prefixing 
    background-clip: text;
    color: transparent;
    cursor: pointer;
    transition: $transition-300ms;
    
    &.far {
        background-image: linear-gradient(to top, transparent 50%, black 50%);
    }

    &.fas {
        background-image: $heart-gradient;
    }
}

.fa-stack:hover .fa-heart{
    background-position: center 100%;
}

.fa-stack.menu__heart, .fa-stack.rest-card__heart {
    height: 1em;
    width: 1em;
    line-height: 1em;
}

.menu__heart {
    margin-right: 12px;    
}