.menu-card {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 70px;
    margin-bottom: 12px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: $shadow;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        width: 90%;
        transition: all 300ms ease-in-out;
        
        * {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
        }

    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(60px);
        transform-origin: right;
        transition: all 300ms ease-in-out;
        height: 100%;
        position: absolute;
        right: 0;

        p {
            font-size: 14px;
            font-weight: 700;
            padding-right: 12px;
            padding-bottom: 12px;
            align-self: flex-end;
        }
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60px;
        border-radius: 0 16px 16px 0;
        background-color: $color-tertiary;
        transform: translateX(100%);
        transform-origin: right;
        transition: all 300ms ease-in-out;
    }

    &:hover {

        .menu-card {
            &__text {
                width: 70%;
            }

            &__price, &__check {
                transform: translateX(0);
            }
        }

        .fa-check-circle {
            transform: rotate(360deg);
        }
    }
}

.fa-check-circle {
    color: #fff;
    font-size: 20px;
    transform: rotate(0);
    transition: all 400ms ease-in-out;
}