.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: #fff;
    opacity: 0;
    animation: background 3s linear both;
}

.spinner::before {
    content: "";
    z-index: 2;
    position: inherit;
    font-size: 1.75em;
    color: $color-primary;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow:
        0 -3em rgba(147, 86, 220, 1),
        2.25em -2.25em rgba(147, 86, 220, 0.875),
        3em 0 rgba(147, 86, 220, 0.75),
        2.25em 2.25em rgba(147, 86, 220, 0.625),
        0 3em rgba(147, 86, 220, 0.5),
        -2.25em 2.25em rgba(147, 86, 220, 0.375),
        -3em 0 rgba(147, 86, 220, 0.25);
    opacity: 0;
    animation: spinner 3s linear both;
  }

.spinner::after {
    content: "ohmyfood";
    z-index: 3;
    color: #000;
    font-family: shrikhand, sans-serif;
    font-size: 60px;
    opacity: 0;
    animation: text 3s linear both;
}


@keyframes background {
    0%, 65% {
        opacity: 1;
        left: 0;
    }

    90% {
        opacity: 0;
        left: 0;
    }
}

@keyframes spinner {
    0% {
        opacity: 1;
        transform: rotate(0);
    }

    35% {
        opacity: .7;
        transform: rotate(-1turn);
    }

    50% {
        opacity: 0;
    }

    70% {
        
        transform: rotate(-2turn);
    }

    91% {
        transform: rotate(-2.5turn);
    }
}

@keyframes text {
    10% {
        opacity: 0;
    }

    35% {
        opacity: .7;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}
